
@{
    ViewBag.Title = "SelectionTable";
}

<h2>SelectionTable</h2>

@using (Html.BeginForm("AjouterTableSession", "Commandes"))
{
        
    <label> Listes des Tables : </label>
    
    @Html.DropDownList("listeTables", null, htmlAttributes: new { @class = "form-control" })

    <br>
    
    <input type="submit" value="Commander" class="btn btn-default" />
}

