@using RestoRapido.Models
@model LoginViewModel
@{
    ViewBag.Title = "Bienvenue";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <h4> Bienvenue cher @Session["Prenom"] !</h4>
    @Html.ActionLink("Ajouter un utilisateur", "Creation","Administrateur")
   
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}