

<h2>Confirmation du courriel</h2>
<div>
    <p>
        Merci d'avoir confirmé votre courriel. Veuillez @Html.ActionLink("Cliquer ici pour vous connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
