@using RestoRapido.Models
@model LoginViewModel
@{
    ViewBag.Title = "Bienvenue";
}


<div class="row">
    <h2>Bienvenue cher client !</h2>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}